$colors: (
    color-background-default: #F3F3F3,
    color-background-tertiary: #474747,
    color-background-border:#D1D1D1,
    color-background-success: #21712D,
    color-background-danger: #C52A1A,
    neutral-01: #FFFFFF,
    neutral-08: #AFAFAF
)