@import "./normalize";
@import "./variables";
@import "./mixins";
@include export-to-css-vars($colors);
@include export-to-css-vars-dark($colors-dark);
@import "../node_modules/bootstrap/scss/bootstrap";
@import "swagger-ui-react/swagger-ui.css";

@import "./components/leftMenu";
@import "./components/readfile";
@import "./components/splitPane";
@import "./components/editor/editor";
@import "./components/swagger-ui";
@import "./components/header";
@import "./components/footer";

body{
    background-color: var(--color-background-container);
    color: var(--color-text-body);
}
.app-wrapper{
    display: flex;
    height: calc(100vh - 110px);
    .editor-page-wrapper{
        position:relative;
        width: calc(100vw - 350px);
    }
}
.hover{
    cursor: pointer;
}