.left-menu{
    height: calc(100vh - 110px);
    width: 350px;
    border-right: 1px dotted var(--color-background-border);
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    .collapse-handle-icon-wrapper{
        flex: 1 1 auto;
        display: flex;
        align-items: flex-end;
        .collapse-handle-icon{
            border-top: 0.0625rem solid var(--color-background-border);
            width: 100%;
            padding: 10px 12px 10px 12px;
            text-align: right;
            .icon{
                &:hover{
                    cursor: pointer;
                }
            }            
        }
    }
}